div {
    text-align: left;
    background-color:aliceblue;
    color: black;
}

ul {
    background-color:lightblue
}

h1 {
    background-color: lightgray;
}

h3 {
    background-color: lightgray;
}